<main class="pt-4">
    <div class="container">
        {{> page/switch}}
        <article class="mb-4 clearfix card">
            <h1 class="card-header">Classification of {{creature_1}} and {{creature_2}}</h1>
            <div class="card-body">
                <section id="text-results" class="row">
            <h2 class="card-title">
                        {{category}}: {{taxon_name}}
            </h2>
            <p class="card-text p-3">
                <b>{{creature_1}}</b> and <b>{{creature_2_lower}}</b> are both members of the {{category_lower}} <i>
                {{#with taxon_link}}{{> page/external_link}}{{/with}}</i>.		                
            </p>
                </section>
                <section id="image-results" class="row justify-content-evenly">
                    <div class="col-8 col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            {{#each creature_1_img}}
                                {{> page/card_img}}
                            {{/each}}
                            <div class="card-body img-card-body">
                                <h3 class="card-title">{{creature_1}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-sm-6 col-lg-4 mb-4">
                        <div class="card">
                            {{#each creature_2_img}}
                                {{> page/card_img}}
                            {{/each}}
                            <div class="card-body img-card-body">
                                <h3 class="card-title">{{creature_2}}</h3>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="card-footer">
                <p>Source: Adapted from {{#with creature_1_link}}{{> page/external_link}}{{/with}} and {{#with creature_2_link}}{{> page/external_link}}{{/with}}</p>
                <p>Text is available under the {{#with commons_link}}{{> page/external_link}}{{/with}}
                    <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0" style="display:none;"></a>;
    additional terms may apply. Wikipedia® is a registered trademark of the {{#with wikimedia_link}}{{> page/external_link}}{{/with}}, a non-profit organization.
                </p>
            </footer>
        </article>
        <button id="prev-page-btn" type="button" class="btn back-button btn-primary" >Return to previous page</button>
    </div>
</main>
{{> page/footer}}
{{> page/scripts}}
